:root{
    --white: #ffffff;
    --black: #212121;
    --primary: #79afa089;
    --secoundary: #d7e2ec3b;
    --gray: #757575;

    --font-primary: "DM Serif Display", serif;
    --fon-generic:"Zilla Slab", serif; 
}

body{
    background-color: #444040f5;
}
html {
    font-size: 62.5%;
}
body{
    font-size: 16px;
}
.titulo{
    text-align: center;
    font-size: 3.8rem;
    font-family: var(--font-primary);
    color: #ffffffac;
}
/*container*/
.container{
    max-width: 100rem;
    margin: 0 auto;
}

/*Nav principal - Header*/

.header-hero{
    background-image: url('/img/hero.jpg');
    height: 700px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.header-about{
    background-image: url('/img/about.png');
    height: 700px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.header-contact{
    background-image: url('/img/contact.jpg');
    height: 700px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.nav-bg{
    background-color: var(--secoundary);
    opacity: 0.9;
}
.nav-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
@media(min-width: 480px){
    .nav-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}
.nav-principal a{
    font-family: var(--font-primary);
    color: #e1c8e8;
    font-weight: 700;
    font-size: 2rem;
    padding: 1rem;
    text-decoration: none;
}
.nav-principal a:hover{
    background-color: #ffffff87;
}

.test{
    color: #c3bccc;
}

.nav-text{
    position: absolute;
    box-shadow: -3px 3px 78px -14px rgba(247,247,247,1);
    bottom: -50px;
    right: 40px;
    color: #ffffffac;
    background-color: #aea4b1b7;
    text-align: center;
    border-radius: 0.5rem;
}
@media (max-width: 468px){
    .nav-text{
        top: 50%;
        left: 50%;
        transform: translate(-50%, 10%);
        bottom: auto;
        right: auto;
    }
}

.story-text{
    position: absolute;
    box-shadow: -3px 3px 78px -14px rgba(247,247,247,1);
    top: 300px;
    max-width: 500px;
    height: auto;
    color: #ffffffac;
    text-align: center;
    margin-left: 5rem ;
}
.form-contact{
    position: absolute;
    box-shadow: -3px 3px 78px -14px rgba(247,247,247,1);
    top: 500px;
    max-width: 500px;
    height: auto;
    color: #ffffffac;
    text-align: center;
    margin-left: 5rem ;
}

/*container cards
==================*/
.container-cards{
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    min-height: auto;
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    flex-wrap: wrap;
}

.content-card{
    background: #9fbcbd9d;
    padding-bottom: 2rem;
    flex-basis: 250px;
    max-width: 400px;
    flex-grow: 2;
    text-align: center;
    color: #dbd3d3;
    border-radius: 0.5rem;
    box-shadow: -3px 3px 78px -14px rgb(154, 147, 147);
}

.main{
    margin-top: 10rem;
}