:root{
    --white: #ffffff;
    --black: #212121;
    --primary: #2bc99dab;
    --secoundary: #77b4eabf;
    --gray: #757575;

    --font-primary: "DM Serif Display", serif;
    --fon-generic:"Zilla Slab", serif; 
}

html {
    font-size: 62.5%;
}
body{
    font-size: 16px;
}
.titulo{
    text-align: center;
    font-size: 3.8rem;
    color: var(--primary);
    font-family: var(--font-primary)
}
/*container*/
.container{
    max-width: 100rem;
    margin: 0 auto;
}

/*Nav principal*/
.nav-bg{
    background-color: var(--secoundary);
}
.nav-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
@media(min-width: 480px){
    .nav-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}
.nav-principal a{
    font-family: var(--font-primary);
    color: var(--white);
    font-weight: 700;
    font-size: 2rem;
    padding: 1rem;
    text-decoration: none;
}
.nav-principal a:hover{
    background-color: var(--primary);
    color: var(--black);
}