:root{
    --white: #dbd3d3;
    --black: #212121;
    --primary: #9fbcbd9d;
    --secoundary: #d7e2ec3b;
    --gray: #aea4b1b7;

    --font-primary: "DM Serif Display", serif;
    --fon-generic:"Zilla Slab", serif; 
}

body{
    background-color: #444040f5;
}
html {
    font-size: 62.5%;
}
body{
    font-size: 16px;
}
.titulo{
    text-align: center;
    font-size: 3.8rem;
    font-family: var(--font-primary);
    color: var(--white);
}
/*container*/
.container{
    max-width: 100rem;
    margin: 0 auto;
}
.main{
    margin-top: 5rem;
}


/*Nav principal - Header*/
.header-hero{
    background-image: url('/img/hero.jpg');
    height: 700px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.header-about{
    background-image: url('/img/about.png');
    height: 700px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.header-contact{
    background-image: url('/img/contact.jpg');
    height: 700px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.header-news{
    background-image: url('/img/news.jpg');
    height: 700px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.nav-bg{
    background-color: var(--secoundary);
    opacity: 0.9;
}
.nav-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-principal a{
    font-family: var(--font-primary);
    color: var(--white);
    font-weight: 700;
    font-size: 2rem;
    padding: 1rem;
    text-decoration: none;
}
.nav-principal a:hover{
    background-color: var(--white);
    color: var(--primary);
}

.test{
    color: var(--white);
}

.nav-text{
    position: absolute;
    box-shadow: -3px 3px 78px -14px rgba(247,247,247,1);
    bottom: -50px;
    right: 40px;
    color: var(--white);
    background-color: var(--gray);
    text-align: center;
    border-radius: 0.5rem;
}

.story-text{
    position: absolute;
    box-shadow: -3px 3px 78px -14px rgba(247,247,247,1);
    top: 300px;
    max-width: 500px;
    height: auto;
    color: var(--white);
    margin-left: 5rem ;
    border-radius: 0.5rem;
    padding: 2rem;
}


/*container cards
==================*/
.container-cards{
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    min-height: auto;
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    flex-wrap: wrap;
}
.content-card{
    background: var(--primary);
    padding-bottom: 2rem;
    flex-basis: 250px;
    max-width: 400px;
    flex-grow: 2;
    text-align: center;
    color: var(--white);
    border-radius: 0.5rem;
    box-shadow: -3px 3px 78px -14px rgb(154, 147, 147);
}


/*Container news
===============*/
.container-news{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(25rem,1fr));
    margin: 0 auto;
}
.content-news{
    padding: 1rem;
    background-color: var(--primary);
    overflow: hidden;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: -3px 3px 78px -14px rgb(154, 147, 147);
    color: var(--white);
}
.img-news{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    border-radius: 0.5rem;
}
.news-one{
    background-image: url('/img/java.jpg');
}
.news-two{
    background-image: url('/img/python.jpg');
}
.news-three{
    background-image: url('/img/php.jpg');
}
.news-four{
    background-image: url('/img/javascript.png');
}
.news-five{
    background-image: url('/img/sql.png');
}
.news-six{
    background-image: url('/img/backend.jpg');
}

/*Footer
=========*/
footer{
    background-color: var(--secoundary);
    opacity: 0.9;
    color: var(--white);
    text-align: center;
}
.footer-container{
    width: 100%;
    padding: 1rem;
    margin-top: 2rem;
}
.social-icons{
    display: flex;
    justify-content: center;
}
.social-icons a{
    text-decoration: none;
    padding: 2rem;
    background-color: var(--primary);
    border-radius: 5rem;
    margin: 2rem;
}
.social-icons a i{
    font-size: 3rem;
    color: var(--white);
}

/*Media Queries
==============*/
@media (max-width: 480px){
    .nav-text{
        top: 50%;
        left: 50%;
        transform: translate(-50%, 10%);
        bottom: auto;
        right: auto;
    }
    #story-text{
        position: static;
        margin: 10px;
    }
    .container-news{
        width: 90%;
    }
    .social-icons{
        flex-direction: column;
    }
    .social-icons a{
        margin: auto;
    }
}
@media(min-width: 480px){
    .nav-principal{
        flex-direction: row;
        justify-content: space-between;
    }
    
}